{{> layout/header}}

<div class="container p-5">
    <!-- hidden으로 boardId 저장 -->
    <input type="hidden" id="boardId" value="{{board.id}}">

    <!-- 수정삭제버튼 (작성자만 보이도록) -->
    {{#board.isOwner}}
        <div class="d-flex justify-content-end">
            <a href="/board/{{board.id}}/update-form" class="btn btn-warning me-1">수정</a>
            <button id="deleteBtn" class="btn btn-danger">삭제</button>
        </div>
    {{/board.isOwner}}

    <div class="d-flex justify-content-end">
        <b>작성자</b> : {{board.authorName}}
    </div>

    <!-- 게시글내용 -->
    <div>
        <h2><b>{{board.title}}</b></h2>
        <hr />
        <div class="m-4 p-2">
            {{board.content}}
        </div>
    </div>

    <!-- 댓글 -->
    <div class="card mt-3">
        <!-- 댓글등록 -->
        <div class="card-body">
            <form action="/reply/save" method="post">
                <textarea class="form-control" rows="2" name="comment"></textarea>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                </div>
            </form>
        </div>

        <!-- 댓글목록 -->
        <div class="card-footer">
            <b>댓글리스트</b>
        </div>
        <div class="list-group">
            <!-- 댓글 반복 (나중에 구현) -->
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <div class="px-1 me-1 bg-primary text-white rounded">작성자</div>
                    <div>댓글 내용</div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}